<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639812007321-vtv1ehggd78l7303ac3rl46uq4ad5oab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639812007321-vtv1ehggd78l7303ac3rl46uq4ad5oab</string>
	<key>API_KEY</key>
	<string>AIzaSyBIqn8cxFoxk0scxJuwX2ViVoUv1N6IzXc</string>
	<key>GCM_SENDER_ID</key>
	<string>639812007321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimas.MovieKuy</string>
	<key>PROJECT_ID</key>
	<string>moviekuy-c74b6</string>
	<key>STORAGE_BUCKET</key>
	<string>moviekuy-c74b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639812007321:ios:96bc325caf355a038e8f08</string>
</dict>
</plist>